body {
    font-family: 'Arial';
    margin: 0;
}

h1{
    font-weight: lighter;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}